# Allow init to perform boot-time tasks.
allow init bms_sysfs:lnk_file read;
allow init rootfs:dir relabelfrom;
allow init misc_partition:blk_file write;

# Allow init to associate filesystems on mount.
allow firmware_file rootfs:filesystem associate;
