# Allow mediaserver to communicate with system_server.
allow mediaserver system_server:unix_stream_socket { read write };

# Allow mediaserver to find the sensor service for camera orientation.
allow mediaserver sensorservice_service:service_manager find;
