# Allow QTI init scripts to set control properties.
allow qti_init_shell ctl_rmt_prop:property_service set;
allow qti_init_shell ctl_default_prop:property_service set;
